h1 {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}
.predict-page {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
}
#prediction-form {
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0.5em auto;
    background-color: #666;
}
.prediction-text-input {
    padding: 0.2em;
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
}
.prediction-fault-msg {
    text-align: center;
    color: #FFFFCC;
}
.prediction-result-msg {
    text-align: center;
}
.prediction-result-title {
    font-size: 1.2em;
}
.prediction-result {
    color: #CCFFCC;
}